<!DOCTYPE html>
<html>
<head>
  <title>
    World Snippet It All - Searchin' Time
  </title>
<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <header>
    World Snippet It All
  </header>

  <section>
    <div class="logArea">
      <h1>Sign Up</h1>
      <form method="POST" action="/signup">
        <p><input type="text" name="signup_username" placeholder="Create username"></p>
        <p><input type="password" name="signup_password" placeholder="Create password"></p>
        <p><input type="submit" value="Sign Up"></p>
        <p><a href="/">Already have an account? Get your snippet back here</a></p>
      </form>
    </div>
</body>
</html>
